

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewData["name"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <header class="bg-dark">
        <nav class="text-white navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Pizza" asp-action="Index">La mia pizzeria</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 align-items-center">
                        <li class="nav-item">
                                <a class="text-white pe-3" asp-area="" asp-controller="Pizza" asp-action="Index">Home</a>
                            </li>
                        <li class="nav-item text-white pe-3">
                                <a class="text-white" asp-area="" asp-controller="Pizza" asp-action="Privacy">Privacy</a>
                            </li>
                            <li class="nav-item text-white flex-grow-1">
                                <a class="text-white" asp-area="" asp-controller="Pizza" asp-action="Create">Add Pizza</a>
                            </li>
                        <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main class="pb-3">
                @RenderBody()
            </main>
        </div>
        

        <footer class="border-top footer bg-dark text-muted">
            <div class="container text-white">
                This is the footer <a asp-area="" asp-controller="Pizza" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>